In [1]:
import os
import pandas as pd
from pathlib import Path
from collections import defaultdict
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
away_team_score = pd.read_csv('../Output/away_team_score.csv')
away_team = pd.read_csv('../Output/away_team.csv')
event = pd.read_csv('../Output/event.csv')
home_team_score = pd.read_csv('../Output/home_team_score.csv')
home_team = pd.read_csv('../Output/home_team.csv')
raw_odds_parquet = pd.read_csv('../Output/raw_odds_parquet.csv')
raw_point_by_point_parquet = pd.read_csv('../Output/raw_point_by_point_parquet.csv')
raw_statistics_parquet = pd.read_csv('../Output/raw_statistics_parquet.csv')
raw_tennis_power_parquet = pd.read_csv('../Output/raw_tennis_power_parquet.csv')
raw_votes_parquet = pd.read_csv('../Output/raw_votes_parquet.csv')
round = pd.read_csv('../Output/round.csv')
season = pd.read_csv('../Output/season.csv')
time = pd.read_csv('../Output/time.csv')
tournament = pd.read_csv('../Output/tournament.csv')
venue = pd.read_csv('../Output/venue.csv')

9.find the player with the most winning of tournament in one month :

In [3]:
merge_home_away = pd.merge(home_team,away_team,on = 'match_id')
time_and_round = pd.merge(time,round,on = 'match_id')
time_and_round = time_and_round.loc[time_and_round['cup_round_type']==1]
time_and_round['current_period_start_timestamp']= pd.to_datetime(time_and_round['current_period_start_timestamp'],unit='s')
time_and_round['date'] = time_and_round['current_period_start_timestamp'].dt.to_period('M')
home_away_time_and_round = pd.merge(merge_home_away,time_and_round,on = 'match_id')
home_away_time_and_round = pd.merge(home_away_time_and_round,event,on='match_id')
home_away_time_and_round.loc[home_away_time_and_round['winner_code']==1,'winner'] = home_away_time_and_round['name_x']
home_away_time_and_round.loc[home_away_time_and_round['winner_code']==2,'winner'] = home_away_time_and_round['name_y']
home_away_time_and_round = home_away_time_and_round[['match_id','winner','current_period_start_timestamp','date','cup_round_type']]
home_away_time_and_round = home_away_time_and_round.groupby(['winner','date'])['match_id'].count().reset_index(name='count of win')
home_away_time_and_round.loc[home_away_time_and_round['count of win']==home_away_time_and_round['count of win'].max()]

        winner     date  count of win
49    Faria J.  2024-03             3
56   Gengel M.  2024-02             3
69    Helgo M.  2024-03             3
87    Jianu F.  2024-03             3
139   Nicod J.  2024-03             3
151   Popko D.  2024-02             3